.footer {
  width: 100%;
  padding: 25px 15px;
  text-align: center;
  background: #fff;
  margin-top: 40px;

  position:relative !important;
  
  bottom:auto !important;
  left:auto !important;
  right:auto !important;
   background:#ffffff !important;
  background-color:#ffffff !important;


   
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 18px;
}

.social-icons span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.social-icons span:hover {
  color: #39a655;
}

.copyright {
  margin-top: 18px;
  font-size: 13px;
  color: #666;
}