.mainframe{
width:100%;
display:flex;
flex-direction:column;
gap:30px;
padding:20px;
}

.frame1,
.frame2,
.frame3{
width:100%;
border-radius:25px;
overflow:hidden;
}

.frame1 img,
.frame2 img,
.frame3 img{
width:100%;
height:auto;
display:block;
border-radius:25px;
}