/* hero.css */






.hero {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  
  background-position:center;
  margin-left: -20px;
 
 



}

.hero-overlay {
  width: 100%;
  height: 100%;
  
  padding: 30px 70px;
}

/* NAVBAR */
.hero-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-logo img {
  width: 170px;
}

.hero-menu {
  display: flex;
  gap: 38px;
  margin-left: 80px;
}

.hero-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.hero-menu a:hover {
  color: #8cc63e;
}

.login-btn {
 
  color: #fff;
  border: none;
  padding: 14px 34px;
  border-radius: 30px;
  font-size: 17px;
  cursor: pointer;
  height: 50px;
 
 
 
  
}

/* CONTENT */
.hero-content {
  margin-top: 180px;
  max-width: 650px;
}

.hero-content h1 {
  color: white;
  font-size: 72px;
  line-height: 1.1;
  font-weight: 700;
}

.hero-content p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 20px;
  line-height: 1.7;
  margin-top: 22px;
  max-width: 620px;
}

/* BUTTONS */
.hero-buttons {
  display: flex;
  gap: 25px;
  margin-top: 40px;
}

.contact-btn {
  background: #4f7d18;
  color: white;
  border: none;
  padding: 18px 42px;
  border-radius: 35px;
  font-size: 18px;
  cursor: pointer;
}

.learn-btn {
  background: transparent;
  color: white;
  border: 2px solid rgba(255, 255, 255, 0.6);
  padding: 18px 42px;
  border-radius: 35px;
  font-size: 18px;
  cursor: pointer;
 
}


@media (max-width: 992px) {
  .hero-navbar {
    flex-direction: column;
    gap: 20px;
  }

  .hero-menu {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .hero-content {
    margin-top: 100px;
  }

  .hero-content h1 {
    font-size: 52px;
  }
}

@media (max-width: 576px) {
  .hero {
    height: auto;
    padding-bottom: 60px;
  }

  .hero-overlay {
    padding: 20px
  }

  .hero-content h1 {
    font-size: 38px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-buttons {
    flex-direction: column;
  }
}