
.login-container {
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 80px;
}

.form {
  background: rgba(255, 255, 255, 0.8); /* transparent */
  backdrop-filter: blur(-s550px);          /* blur effect */
}