/* PAGE CONTENT (SIDEBAR KE BAJU) */
.main{
    height: 1000px;
}
.page-content{
margin-left:250px;
padding:30px 40px;
margin-top: -800px;
}
.header{
   margin-top: -100px;
}

.title{
margin-bottom:20px;
}



.container{
display:flex;
gap:20px;
background:#f7f7f7;
padding:20px;
border-radius:20px;
height: 600px;

}



.inbox-panel{
width:300px;
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 2px 8px rgba(0,0,0,0.05);
}

.inbox-header{
display:flex;
align-items:center;
gap:10px;
margin-bottom:20px;
}

.count{
background:#eee;
padding:3px 8px;
border-radius:10px;
font-size:12px;
}

.plusicon{
margin-left:auto;
font-size:22px;
color:#28a745;
cursor:pointer;
}

.searchbar input{
width:100%;
padding:10px;
border:none;
outline:none;
background:#f3f3f3;
border-radius:10px;
margin-bottom:20px;
}



.users{
display:flex;
flex-direction:column;
gap:15px;
}

.user{
display:flex;
align-items:center;
gap:10px;
padding:10px;
border-radius:10px;
cursor:pointer;
}

.user:hover{
background:#f5f5f5;
}

.user h4{
margin:0;
font-size:14px;
}

.user p{
margin:0;
font-size:12px;
color:#777;
}

.user span{
margin-left:auto;
font-size:12px;
color:#999;
}

.candidate{
font-size:26px;
color:#888;
}



.chat-panel{
flex:1;
background:white;
border-radius:20px;
padding:20px;
display:flex;
flex-direction:column;
}


.panel-header{
display:flex;
align-items:center;
gap:10px;
border-bottom:1px solid #eee;
padding-bottom:10px;
}

.online{
color:green;
font-size:10px;
}



.message-list{
flex:1;
padding:20px 0;
display:flex;
flex-direction:column;
gap:15px;
overflow-y:auto;
}

.message{
display:flex;
align-items:flex-end;
gap:10px;
}

.message.right{
justify-content:flex-end;
}

.bubble{
background:#f1f1f1;
padding:10px 15px;
border-radius:12px;
font-size:14px;
max-width:250px;
}

.message.right .bubble{
background:#e7e7e7;
}



.chat-input-container{
display:flex;
align-items:center;
gap:10px;
border:1px solid #ddd;
border-radius:12px;
padding:10px 15px;
margin-top:10px;
}

.attach-icon{
font-size:18px;
color:#666;
cursor:pointer;
}

.message-input{
flex:1;
border:none;
outline:none;
font-size:14px;
}

.send-icon{
font-size:20px;
color:#28a745;
cursor:pointer;
}
.footer{
    
    height: 25px;
}