

.sidebar{
width:250px;
height:1680px;
background:#ffffff;
border-right:1px solid #e5e5e5;
padding:20px 15px;
display:flex;
flex-direction:column;
position: relative;

}*/
.sidebar{
width:250px;
height:100vh;
background:#ffffff;
border-right:1px solid #e5e5e5;
padding:20px 15px;
display:flex;
flex-direction:column;
}



.sidebar-logo{
display:flex;
align-items:center;
justify-content:center;
margin-bottom: 0px;
margin-top: 1px;
}

.sidebar-logo img{
width:250px;

}


.sidebar-menu{
list-style:none;
padding:0;

width:100%;
}

.sidebar-menu li{
display:flex;
align-items:center;
gap:10px;
padding:12px 15px;
margin-bottom:10px;
border-radius:10px;
font-size:14px;
color:#555;
cursor:pointer;
transition:0.3s;
}


.sidebar-menu li:hover{
background:#f4f7f5;
color:#2e7d32;
}



.sidebar-menu li.active{
background:#2e7d32;
color:white;
font-weight:500;
}



.sidebar-menu li.active:hover{
background:#2e7d32;
color:white;
}